p{color: rgb(62, 2, 119);
width: 300px;
margin-left:350px;
margin-top:370px;
margin-bottom:125px;
padding-left: 150px;
padding-top: 15px;
font-size: medium;
font-family: fantasy;
white-space: wrap;
word-spacing: 2px;
font-family: 'Dancing Script', cursive;;
}
body{background-image: url(https://st2.depositphotos.com/5311082/11669/v/950/depositphotos_116696182-stock-illustration-dream-catcher-catch-your-dreams.jpg);
background-repeat: no-repeat;
background-color: pink;
margin: 30px;;
animation-name: animation;
animation-duration: 10s;
animation-iteration-count: infinite;}

header {float: right;
	font-family: 'Dancing Script', cursive;
	}
ul.sequer{list-style-type: square; 
	position: fixed;
color: rgb(75, 3, 75);}
ol.alpha{list-style-type: decimal; 
border-style:solid 

}

.fa-linkedin {
	background: #007bb5;
	color: white;
  }
  .fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

@keyframes animation {
  5%   {background-color: lightgrey;}
  30%  {background-color: lightgreen;}
  40%  {background-color: rgb(245, 188, 197);}
  100% {background-color: pink;}
}



 /* this code is inspired from website https://www.mockplus.com/blog/post/css-animation-examples but it is adjusted a bit  */

 .bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}
	
	.bird {
		animation-duration: 1s;
		animation-delay: -0.1s;		
    }

	

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
} 
